{%- assign selected_collection = collections[section.settings.select_collection] -%}


{%- if selected_collection -%}
        
    <div class="main-swioer swiper">\
        <div class="swiper-wrapper">
            {% for product in selected_collection.products limit: 6 %}

                <div class="swiper-slide">
                <a href="{{ prodct.url }}">
                    <img src="{{ product.featured_image | img_url:'medium' }}" alt="product" height="600px" width="600px">
                    <h2 class="title">{{ product.title }}</h2>
                </a>
                </div>
            {% endfor %}
        </div>
    </div>
       
{%- endif -%}   


<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var swiper = new Swiper('.main-swiper', {
        slidesPerView: 1,
        spaceBetween: 10,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        });
    });
</script>

{% schema %}
  {
    "name": "Custom Badge",
    "tag": "section",
    "class": "",
    "settings": [
      {
        "type": "collection",
        "id": "select_collection",
        "label": "Select Collection",
        "default": "frontpage"
      },
      {
        "type": "checkbox",
        "id": "prodoct",
        "label": "Show Product",
        "default": true
      }
    ],
    "presets": [
      {
        "name": "Custom Badge",
        "category": "Custom"
      }
    ]
  }
{% endschema %}