{%- assign selected_collection = collections[section.settings.select_collection] -%}

{% if selected_collection %}
  <div class="main-swiper swiper">
    <div class="swiper-wrapper">
      {% for product in selected_collection.products limit: 6 %}
        <div class="swiper-slide">
          <a href="{{ product.url }}">
            <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title }}" height="600" width="600">
            <h2 class="title">{{ product.title }}</h2>
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
  </div>
{% endif %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<script defer src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    new Swiper('.main-swiper', {
      slidesPerView: 1,
      spaceBetween: 10,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
    });
  });
</script>

{% schema %}
{
  "name": "Custom Badge",
  "settings": [
    {
      "type": "collection",
      "id": "select_collection",
      "label": "Select Collection",
      "default": "frontpage"
    }
  ],
  "presets": [
    {
      "name": "Custom Badge",
      "category": "Custom"
    }
  ]
}
{% endschema %}
