<div class="custom-collection">
   <div class="page-width page-margin center">
     {% section 'featured-product' %}
   </div>
</div>

{% schema %}
{
  "name": "Custom Collection",
  "settings": [
  ],
  "presets": [
    {
      "name": "Custom Collection",
      "category": "Collection"
    }
  ],
  "blocks": []
}
{% endschema %}
